<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>366815488775-6n84ukkh4ti8hrtkv7ba7adccl0dhkca.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.366815488775-6n84ukkh4ti8hrtkv7ba7adccl0dhkca</string>
	<key>API_KEY</key>
	<string>AIzaSyDq5YN_JE3HMthR0UgmR7-5_cS2-pXxy_k</string>
	<key>GCM_SENDER_ID</key>
	<string>366815488775</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.arthurCann.app</string>
	<key>PROJECT_ID</key>
	<string>mysupertestapp-e2adb</string>
	<key>STORAGE_BUCKET</key>
	<string>mysupertestapp-e2adb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:366815488775:ios:c577f443a2274bc33573a2</string>
</dict>
</plist>